@font-face {
    font-family: navFont;
    src: url(fonts/fontawesome-webfont.eot);
  }

body {
    background-image: url("images/bodybg.png");
    background-attachment: fixed;
    background-size: auto;
}

#home {
    background-image: url("images/homebg.png");
    background-size: cover;
    height: 800px;

}

.nav {
    display: inline-block;
    margin-top: 20px;
}

#logo {
    /* display: inline-block; */
    margin-left: 105px;
}

section {
    border: solid black 2px;    
}

.subfeatures {
    display: inline-block;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#home #div1 {
    height: 631px;
    width: 40%;
    /* float: left; */
    margin-left: 100px;
}

#home #div2 {
    background-image: url("images/phone1.png");
    background-size: cover;
    height: 631px;
    width: 40%;
    /* float: right; */
    border: solid black 1px;  
    margin-right: 100px; 
}

.inline-block {
    display: inline-block;
}

div {
    border: solid black 1px;    
}




